

body {
   font-family: 'Arial', sans-serif;
   line-height: 100%;
   background-color: #eeeeee;
   padding: 0;
   margin: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

body h1, 
body h2, 
body h3,
body h4,
body p {
   margin: 0;
   padding: 0;
}

/* Formularze */
body select {
   padding: 10px;
   border-radius: 12px;
   background-color: #f5f5f5;
   border: 1px solid #cccccc;
}

body button {
   padding: 12px;
   border-radius: 12px;
   background-color: #005aba;
   color: #fff;
   border: none;
   cursor: pointer;
   font-weight: bold;
   transition: background-color 0.3s ease;
}


/* Definicje pomocniczne (helpers) */
.text-center {
   text-align: center;
}

.minor-title {
   text-transform: uppercase;
   font-weight: bold;
   color: #777777;
   letter-spacing: 1px;
   font-size: 0.75em;
}


/* -------------------------*/

.flagi {
   display: flex;
   justify-content: space-evenly;
}

.flagi .flaga {
   width: 33.33%;
   height: 10px;
}
.flagi .flaga:first-child {
   background: blue;
}
.flagi .flaga:nth-child(2) {
   background: white;
}
.flagi .flaga:last-child {
   background: red;
}


.main {
   flex: 1;
   align-content: center;
}

.main .centered {
   margin: 0 auto;
   width: 600px;
}

.main .smallTitle {
   display: flex;
   align-items: center; /* w szerokosci */
   justify-content: center; /* w dlugosci */
   gap: 10px;
   margin-bottom: 30px;
}

.main .mainTitle {
   font-family: 'Noto Serif Display', serif;
   font-size: 2.5em;
   color: #111111;
   margin-bottom: 20px;
}

.main .subTitle {
   font-size: 1em;
   color: #999;
   letter-spacing: 1px;
   margin-bottom: 40px;
}

.main .subTitle > span {
   color: #005aba;
}


.main .formularz {
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #cccccc;
   border-radius: 20px;
   box-shadow: 8px 8px 12px #ddd;
   max-width: 360px;

   display: flex;
   flex-direction: column;
}

.main .formularz label {
   text-transform: uppercase;
   font-size: 0.7em;
   font-weight: bold;
   color: #111;
   letter-spacing: 1px;
   margin-bottom: 3px;
}

.main .formularz button {
   margin-top: 10px;
}

.main .wynik {
   margin-top: 30px;
   padding: 20px;
   background: #ECEFF5;
   border: 1px solid #d5d5d5;
   border-radius: 20px;
}

   .main .wynik .do-tlumaczenia {
      margin: 6px 0 24px 0;
   }

      .main .wynik .do-tlumaczenia span {
         font-weight: bold;
      }


   .main .wynik .tlumaczenie {
      font-family: 'Noto Serif Display', serif;
      margin-bottom: 24px;
   }

      .main .wynik .tlumaczenie .rodzaj {
         font-size: 1.4em;
         color: #285a91;
      }

      .main .wynik .tlumaczenie .rzeczownik {
         font-size: 2.2em;
         font-weight: bold;
         color: #005aba;
      }

   .main .wynik .tag {
      font-size: 0.8em;
      color: #777777;
      background: #fff;
      text-align: center;
      padding: 3px 12px;
      border-radius: 12px;
      border: 1px solid #ddd;
      min-width: 120px;
      max-width: fit-content;
      margin: 0 auto;
   }

.stopka {
   background-color: #fff;
   border-top: 1px solid #cccccc;
   padding: 20px 0;
   text-align: center;
}

.stopka span {
   font-size: 0.75em;
   color: #777777;
   letter-spacing: 1px;
}