body {
   font-family: 'Arial', sans-serif;
   line-height: 100%;
   background-color: #eeeeee;
   padding: 0;
   margin: 0;
   
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.flagi {
   display: flex;
   justify-content: space-evenly;
}

.flagi .flaga {
   width: 33.33%;
   height: 10px;
}
.flagi .flaga:first-child {
   background: blue;
}
.flagi .flaga:nth-child(2) {
   background: white;
}
.flagi .flaga:last-child {
   background: red;
}


.main {
   flex: 1;
   align-content: center;
}

.main .centered {
   margin: 0 auto;
   width: 600px;
}

.main .smallTitle {
   display: flex;
   align-items: center; /* w szerokosci */
   justify-content: center; /* w dlugosci */
   gap: 10px;
}

.main .smallTitle .title {
   text-transform: uppercase;
   font-weight: bold;
   color: #777777;
   letter-spacing: 1px;
   font-size: 0.75em;
}


.stopka {
   background-color: #fff;
   border-top: 1px solid #cccccc;
   padding: 20px 0;
   text-align: center;
}